@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
  font-size: 1.5rem;
}

p, a {
  font-family: "Lexend Deca", sans-serif;
}

p {
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 1.7;
  margin-bottom: 4rem;
}

a.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: hsl(0deg, 0%, 95%);
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.btn.btn1 {
  color: hsl(31deg, 77%, 52%);
}
a.btn.btn1:hover {
  cursor: pointer;
  background-color: hsl(31deg, 77%, 52%);
  color: hsla(0deg, 0%, 100%, 0.75);
  border: none;
}

/*General Designs*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}
main .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  height: 30rem;
  padding: 2rem 2rem 0 2rem;
}

.card {
  display: grid;
  justify-items: flex-start;
}
.card img {
  display: block;
}
.card.sedans {
  background-color: hsl(31deg, 77%, 52%);
  border-radius: 10px 10px 0 0;
}
.card.suv {
  background-color: hsl(184deg, 100%, 22%);
}
.card.luxury {
  background-color: hsl(179deg, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

/*Media Queries*/
@media screen and (min-width: 500px) {
  body {
    height: 100vmin;
  }

  .card {
    max-width: 19rem;
  }
  .card.sedans {
    border-radius: 10px 0 0 10px;
  }
  .card.luxury {
    border-radius: 0 10px 10px 0;
  }
}
@media screen and (max-width: 499px) {
  main {
    margin-top: 2rem;
  }

  .card.sedans {
    border-radius: 10px 10px 0 0;
  }
  .card.luxury {
    border-radius: 0 0 10px 10px;
  }

  p {
    margin-bottom: 0.1rem;
  }
}
/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}